
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  pre {
    font-size: 7em;
  }

  .marks {
    

    path {
      // fill: #137B80;
    
    }

    .sphere {
      fill: #dee0e0;
    }
    
    .interiors {
      stroke: #c03118fd;
    }
  }

  